#map {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  touch-action: none;
}

#app {
  z-index: 20;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;

  padding-top: 6em;
  padding-bottom: 4em;
  padding-left: 1em;
  padding-right: 1em;

  display: grid;
  grid-gap: 1em;
  grid-template-columns: 20em auto 26em 48px;
  grid-template-areas: "L . R T";
}
