.spotlight {
  grid-area: R;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  background-color: white;
  user-select: none;

  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.search-conainer {
  padding: 8px;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.search-input {
  font-size: 1.2em;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 6px 0 7px;
  outline: none;
}

.list-container {
  height: 100%;
  overflow: auto;
}

.list {
  max-height: 0px;
  margin: 0;
  padding: 0;
}

.card {
  margin-right: 20px;
  padding: 15px;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: gray;
}

.card-title {
  font-size: 1.0em;
  font-weight: bold;
}

.card-description {
  font-size: 0.9em;
}

.tag {
  font-size: 0.7em;
  /* font-weight: bold; */
  padding: 4px;
  margin-right: 6px;
  border-radius: 3px;

  border-width: 1px;
  border-style: solid;
  color: red;
}